.about-container {
  display: grid;
  grid-template-columns: repeat(1fr);
  justify-items: center;
  margin-top: 10%;
  margin-right: 2%;
}

.about-container {
  margin-top: 0px;
  margin-left: 20%;
  margin-right: 20%;
  text-align: center;
}

.about-image {
  width: 80%;
  margin-top: 15px;
}

.founders-title {
  font-family: "Vina Sans", serif;
  font-weight: 300;
  font-size: 3rem;
  margin-bottom: 2%;
  margin-top: 0px;
}

@media screen and (max-width: 900px) {
  .about-container {
    margin-right: 15%;
    margin-left: 15%;
  }
}

@media screen and (max-width: 690px) {
  .about-container {
    margin-right: 10%;
    margin-left: 10%;
  }
}

@media screen and (max-width: 460px) {
  .about-container {
    margin-right: 5%;
    margin-left: 5%;
  }
}
