/* shopping cart tab
  (will move in the future, maybe to recurring designs?) */
.cartTab {
  width: 400px;
  background-color: rgb(0,0,0);
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  inset: 0 -400px 0 auto; /* makes the shopping cart invisible (off the screen to the right) */
  display: grid;
  grid-template-rows: 70px 1fr 70px;

  /* justify-content: center;
  align-self: center; */
}

.showCart {
  inset: 0 0 0 auto; /* makes the shopping cart visible */
}

.cartTab * {
  background-color: transparent;
}

.cartTab-title {
  font-family: "Vina Sans", serif;
  font-weight: 300;
  font-size: 3rem;
  padding-left: 20px;
  margin-top: 150px;
  color: white;
}

.cartTab-buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.cart_button {
  font-family: "Vina Sans", serif;
  font-weight: 300;
  font-size: 1.5rem;
  border: none;
}

.close_carttab {
  background-color: gray;
  cursor: pointer;
}

.checkout_carttab {
  background-color: white;
  width: 200px;
  height: 100px;
  cursor: pointer;
}

.cart_item {
  list-style: none;
  text-align: center;
  margin-top: 47%;
  font-family: "Vina Sans", serif;
  font-weight: 400;
  font-style: normal;
  color: white;

  border: 2px solid white;
  padding: 15px;
  max-width: 60%;
}

.cart_item-image {
  width: 100%;
  margin-left: 0px;
}

.trashcan-img {
  width: 8%;
  margin-left: 70%;
}

.trashcan-button {
  border: none;
  cursor: pointer;
}
