/* CONTINUE SHOPPING BUTTON */
#continue-shopping-button {
  font-family: "Vina Sans", serif;
  font-weight: 300;
  font-size: 1.5rem;
  color: black;
}

/* BOTH THE "DELIVERY" & "PAYMENT" TITLE */
h2,
h3 {
  font-family: "Vina Sans", serif;
  font-weight: 300;
  font-size: 1.5rem;
  color: black;
}

/* THE WHOLE "DELIVERY" FORM */
.delivery-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 35px;
  margin-bottom: 25px;
  padding-left: 10%;
  padding-right: 10%;
  max-width: 1000px;
}

/* imput fields */
input {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
}

/* THE WHOLE "PAYMENT" FORM */
.payment-form {
  margin-bottom: 10px;
  padding-left: 30%;
  padding-right: 30%;
}

/* imput fields */
.payment-form input {
  margin-bottom: 20px;
}

/* PLACE ORDER BUTTON */
.place_order_button {
  font-family: "Vina Sans", serif;
  font-weight: 300;
  font-size: 1.5rem;
  color: black;
}

/* place order image */
.place-order-image {
  width: 15%;
}

/* RESPONSIVE LAYOUT */
@media screen and (max-width: 690px) {
  .delivery-form {
    grid-template-columns: 1fr;
  }

  .payment-form {
    padding-left: 20%;
    padding-right: 20%;
  }

  .place-order-image {
    width: 20%;
  }
}

@media screen and (max-width: 460px) {
  .place-order-image {
    width: 25%;
  }
}
