/* DROPDOWNS */
/*all dropdown buttons*/
.faq-buttons {
  display: flex;
  flex-direction: column;
}

/* Start Help taken/dropdown funciton learned from w3shools https://www.w3schools.com/css/css_dropdowns.asp*/
.faq-shipping {
  font-family: "Vina Sans", serif;
  font-weight: 300;
  font-size: 1.5rem;
  border: none;
  align-self: flex-start;
  cursor: pointer;
  margin-left: 10%;
  padding: 0;
}

.dropdown-faq-shipping {
  display: none;
  font-family: "Times New Roman", Times, serif;
  margin-left: 10%;
  margin-right: 20%;
}

.dropdown-faq-shipping-show {
  display: block;
  text-align: start;
}

.faq-returns {
  font-family: "Vina Sans", serif;
  font-weight: 300;
  font-size: 1.5rem;
  border: none;
  align-self: flex-start;
  cursor: pointer;
  margin-left: 10%;
  padding: 0;
}

.dropdown-faq-returns {
  display: none;
  font-family: "Times New Roman", Times, serif;
  margin-left: 10%;
  margin-right: 20%;
}

.dropdown-faq-returns-show {
  display: block;
  text-align: start;
}

.faq-wrong-product {
  font-family: "Vina Sans", serif;
  font-weight: 300;
  font-size: 1.5rem;
  border: none;
  align-self: flex-start;
  cursor: pointer;
  margin-left: 10%;
  padding: 0;
}

.dropdown-faq-wrong-product {
  display: none;
  font-family: "Times New Roman", Times, serif;
  margin-left: 10%;
  margin-right: 20%;
}

.dropdown-faq-wrong-product-show {
  display: block;
  text-align: start;
}

.faq-order-status {
  font-family: "Vina Sans", serif;
  font-weight: 300;
  font-size: 1.5rem;
  border: none;
  align-self: flex-start;
  cursor: pointer;
  margin-left: 10%;
  padding: 0;
}

.dropdown-faq-order-status {
  display: none;
  font-family: "Times New Roman", Times, serif;
  margin-left: 10%;
  margin-right: 20%;
}

.dropdown-faq-order-status-show {
  display: block;
  text-align: start;
}

.faq-broken-product {
  font-family: "Vina Sans", serif;
  font-weight: 300;
  font-size: 1.5rem;
  border: none;
  align-self: flex-start;
  cursor: pointer;
  margin-left: 10%;
  padding: 0;
}

.dropdown-faq-broken-product {
  display: none;
  font-family: "Times New Roman", Times, serif;
  margin-left: 10%;
  margin-right: 20%;
}

.dropdown-faq-broken-product-show {
  display: block;
  text-align: start;
}

#faq-questions {
  font-family: "Vina Sans", serif;
  font-weight: 400;
  font-style: normal;
  padding-top: 2%;
  margin-left: 10%;
}

#faq-dont_hesitate {
  font-family: "Vina Sans", serif;
  font-weight: 400;
  font-style: normal;
  margin-left: 10%;
}

form {
  margin-bottom: 25px;
  margin-left: 10%;
}

.faq-submit-button {
  margin-left: 10%;
  cursor: pointer;
}

.submit-image {
  width: 10%;
}

@media screen and (max-width: 900px) {
}

@media screen and (max-width: 690px) {
  .submit-image {
    width: 15%;
  }
}

@media screen and (max-width: 460px) {
  .submit-image {
    width: 20%;
  }
  .dropdown-faq-shipping {
    margin-right: 10%;
  }

  .dropdown-faq-returns {
    margin-right: 10%;
  }

  .dropdown-faq-wrong-product {
    margin-right: 10%;
  }

  .dropdown-faq-order-status {
    margin-right: 10%;
  }

  .dropdown-faq-broken-product {
    margin-right: 10%;
  }
}
