/* ALL DROPDOWN BUTTONS */
.faq-buttons {
  display: flex;
  flex-direction: column;
}

/* Help taken/dropdown funciton learned from w3shools
https://www.w3schools.com/css/css_dropdowns.asp*/

/* "SHIPPING" DROPDOWN */
/* button */
.faq-shipping {
  font-family: "Vina Sans", serif;
  font-weight: 300;
  font-size: 1.5rem;
  border: none;
  align-self: flex-start;
  cursor: pointer;
  margin-left: 10%;
  padding: 0;
}

/* dropdown content */
.dropdown-faq-shipping {
  display: none;
  font-family: "Times New Roman", Times, serif;
  margin-left: 10%;
  margin-right: 20%;
}

/* active state */
.dropdown-faq-shipping-show {
  display: block;
  text-align: start;
}

/* "RETURNS" DROPDOWN */
/* button */
.faq-returns {
  font-family: "Vina Sans", serif;
  font-weight: 300;
  font-size: 1.5rem;
  border: none;
  align-self: flex-start;
  cursor: pointer;
  margin-left: 10%;
  padding: 0;
}

/* dropdown content */
.dropdown-faq-returns {
  display: none;
  font-family: "Times New Roman", Times, serif;
  margin-left: 10%;
  margin-right: 20%;
}

/* active state */
.dropdown-faq-returns-show {
  display: block;
  text-align: start;
}

/* "WRONG PRODUCT" DROPDOWN */
/* button */
.faq-wrong-product {
  font-family: "Vina Sans", serif;
  font-weight: 300;
  font-size: 1.5rem;
  border: none;
  align-self: flex-start;
  cursor: pointer;
  margin-left: 10%;
  padding: 0;
}

/* dropdown content */
.dropdown-faq-wrong-product {
  display: none;
  font-family: "Times New Roman", Times, serif;
  margin-left: 10%;
  margin-right: 20%;
}

/* active state */
.dropdown-faq-wrong-product-show {
  display: block;
  text-align: start;
}

/* "ORDER STATUS" DROPDOWN */
/* button */
.faq-order-status {
  font-family: "Vina Sans", serif;
  font-weight: 300;
  font-size: 1.5rem;
  border: none;
  align-self: flex-start;
  cursor: pointer;
  margin-left: 10%;
  padding: 0;
}

/* dropdown content */
.dropdown-faq-order-status {
  display: none;
  font-family: "Times New Roman", Times, serif;
  margin-left: 10%;
  margin-right: 20%;
}

/* active state */
.dropdown-faq-order-status-show {
  display: block;
  text-align: start;
}

/* "BROKEN PRODUCT" DROPDOWN */
/* button */
.faq-broken-product {
  font-family: "Vina Sans", serif;
  font-weight: 300;
  font-size: 1.5rem;
  border: none;
  align-self: flex-start;
  cursor: pointer;
  margin-left: 10%;
  padding: 0;
}

/* dropdown content */
.dropdown-faq-broken-product {
  display: none;
  font-family: "Times New Roman", Times, serif;
  margin-left: 10%;
  margin-right: 20%;
}

/* active state */
.dropdown-faq-broken-product-show {
  display: block;
  text-align: start;
}

/* "OTHER QUESTIONS" TITLE */
#faq-questions {
  font-family: "Vina Sans", serif;
  font-weight: 400;
  font-style: normal;
  padding-top: 2%;
  margin-left: 10%;
}

/* "DONT HESITATE..." TITLE */
#faq-dont_hesitate {
  font-family: "Vina Sans", serif;
  font-weight: 400;
  font-style: normal;
  margin-left: 10%;
}

/* "CONTACT" FORM */
form {
  margin-bottom: 25px;
  margin-left: 10%;
}

/* SUBMIT BUTTON */
.faq-submit-button {
  margin-left: 10%;
  cursor: pointer;
}

/* submit image */
.submit-image {
  width: 10%;
}

/* RESPONSIVE LAYOUT */
@media screen and (max-width: 690px) {
  .submit-image {
    width: 15%;
  }
}

@media screen and (max-width: 460px) {
  .submit-image {
    width: 20%;
  }
  .dropdown-faq-shipping {
    margin-right: 10%;
  }

  .dropdown-faq-returns {
    margin-right: 10%;
  }

  .dropdown-faq-wrong-product {
    margin-right: 10%;
  }

  .dropdown-faq-order-status {
    margin-right: 10%;
  }

  .dropdown-faq-broken-product {
    margin-right: 10%;
  }
}
