/* THE WHOLE PRODUCT PAGE */
.product-page-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  margin-top: 15%;
  margin-left: 2%;
  margin-right: 2%;
}

/* PRODUCT IMAGE */
.product-image {
  width: 90%;
  margin: 2%;
}

/* PRODUCT TITLE */
.product-title {
  font-family: "Vina Sans", serif;
  font-weight: 300;
  font-size: 3rem;
  margin-bottom: 2%;
}

/* PRODUCT PRICING */
.product-pricing {
  font-family: "Vina Sans", serif;
  font-weight: 300;
  font-size: 2rem;
  margin-top: 2%;
}

/* PRODUCT DESCRIPTION */
.product-description {
  width: 80%;
  margin-left: 8%;
}

/* ALL DROPDOWN BUTTONS */
.buttons {
  display: flex;
  flex-direction: column;
}

/* Help taken/dropdown funciton learned from w3shools
https://www.w3schools.com/css/css_dropdowns.asp*/

/* "KIT CONTENTS" DROPDOWN */
/* button */
.product-contents {
  font-family: "Vina Sans", serif;
  font-weight: 300;
  font-size: 1.5rem;
  border: none;
  align-self: flex-start;
  cursor: pointer;
  margin-left: 9%;
}

/* dropdown content */
.dropdown-product-contents {
  display: none;
  font-family: "Times New Roman", Times, serif;
  margin-left: 9%;
}

/* active state */
.dropdown-product-contents-show {
  display: block;
  text-align: start;
  margin-left: 9%;
}

/* "MORE INFORMATION" DROPDOWN */
/* button */
.product-specifications {
  font-family: "Vina Sans", serif;
  font-weight: 300;
  font-size: 1.5rem;
  border: none;
  align-self: flex-start;
  cursor: pointer;
  margin-left: 9%;
}

/* dropdown content */
.dropdown-product-specifications {
  display: none;
  font-family: "Times New Roman", Times, serif;
  margin-left: 9%;
}

/* active state */
.dropdown-product-specifications-show {
  display: block;
  text-align: start;
  margin-left: 9%;
}

/* "REVIEWS" DROPDOWN */
/* button */
.product-reviews {
  font-family: "Vina Sans", serif;
  font-weight: 300;
  font-size: 1.5rem;
  border: none;
  align-self: flex-start;
  cursor: pointer;
  margin-left: 9%;
}

/* dropdown content */
.dropdown-product-reviews {
  display: none;
  font-family: "Times New Roman", Times, serif;
  margin-left: 9%;
}

/* active state */
.dropdown-product-reviews-show {
  display: block;
  text-align: start;
  margin-left: 9%;
}

/* "ADD TO CART" BUTTON */
.add-to-cart {
  width: 40%;
  margin-top: 40px;
  cursor: pointer;
}

/* RESPONSIVE LAYOUT */
@media screen and (max-width: 690px) {
  .product-page-container {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 460px) {
  .product-page-container {
    display: flex;
    flex-direction: column;
  }
}
