/* ---- FOR ENTIRE WEBSITE ---- */
/* header for all pages */
#pages-header {
  font-family: "Vina Sans", serif;
  font-weight: 350;
  font-size: 5rem;
}

/* ----- MAIN ----- */
main {
  text-align: center;
}

#welcome-header {
  font-family: "Vina Sans", serif;
  font-weight: 350;
  font-size: 5rem;
}

/* ----- PRODUCTS ----- */
#filter {
  /* button specifics*/
  width: 200px;
  height: 70px;
  /* button looks*/
  border-radius: 20px;
  background-color: black;
  border: none;

  /* Text*/
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 1rem;
}

/* Common for all products START*/
.product-img {
  width: 100%;
  border-radius: 10%;
}

.product-caption-heading {
  font-family: "Vina Sans", serif;
  font-weight: 300;
  font-size: 2rem;
  background: none;
}

.product-caption-price {
  font-family: "Vina Sans", serif;
  font-weight: 300;
  font-size: 1.5rem;
  background: none;
}

.products {
  display: grid;
  grid-template-columns: repeat(4, 3fr);
  justify-items: center;
  margin-left: 2%;
  margin-right: 2%;
}
/* Common for all products END*/

/* Individual for each product START */
.product-1 {
  margin-top: 10%;
  width: 95%;
  height: 500px;
  background-color: rgb(229, 216, 216);
  border-radius: 10%;
}

.product-2 {
  margin-top: 10%;
  width: 95%;
  height: 500px;
  background-color: rgb(229, 216, 216);
  border-radius: 10%;
}

.product-3 {
  margin-top: 10%;
  width: 95%;
  height: 500px;
  background-color: rgb(229, 216, 216);
  border-radius: 10%;
}

.product-4 {
  margin-top: 10%;
  width: 95%;
  height: 500px;
  background-color: rgb(229, 216, 216);
  border-radius: 10%;
}

.product-5 {
  margin-top: 10%;
  width: 95%;
  height: 500px;
  background-color: rgb(229, 216, 216);
  border-radius: 10%;
}

.product-6 {
  margin-top: 10%;
  width: 95%;
  height: 500px;
  background-color: rgb(229, 216, 216);
  border-radius: 10%;
}

.product-7 {
  margin-top: 10%;
  width: 95%;
  height: 500px;
  background-color: rgb(229, 216, 216);
  border-radius: 10%;
}

.product-8 {
  margin-top: 10%;
  width: 95%;
  height: 500px;
  background-color: rgb(229, 216, 216);
  border-radius: 10%;
}

.product-9 {
  margin-top: 10%;
  width: 95%;
  height: 500px;
  background-color: rgb(229, 216, 216);
  border-radius: 10%;
}

.product-10 {
  margin-top: 10%;
  width: 95%;
  height: 500px;
  background-color: rgb(229, 216, 216);
  border-radius: 10%;
}
/* Individual for each product END*/

/* ---- PRODUCT 1 ---- */
.product-1-page-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  margin-top: 10%;
  margin-left: 2%;
  margin-right: 2%;
}

/**Start help w3schools on gallery effect link:
https://www.w3schools.com/howto/howto_css_image_gallery_scroll.asp#gsc.tab=0*/
.product1-img-container {
  display: flex;
  flex-direction: row;
  overflow: auto;
  width: 90%;
}
/* End help w3 schools*/

.product-title {
  font-family: "Vina Sans", serif;
  font-weight: 300;
  font-size: 3rem;
  margin-bottom: 2%;
}

.product-pricing {
  font-family: "Vina Sans", serif;
  font-weight: 300;
  font-size: 2rem;
  margin-top: 2%;
}

/*Specifications buttons*/
.buttons {
  display: flex;
  flex-direction: column;
  /*indexering - switching pictures*/
}

.product-contents {
  font-family: "Vina Sans", serif;
  font-weight: 300;
  font-size: 1.5rem;
  border: none;
  align-self: flex-start;
}

.product-specifications {
  font-family: "Vina Sans", serif;
  font-weight: 300;
  font-size: 1.5rem;
  border: none;
  align-self: flex-start;
}

.product-reviews {
  font-family: "Vina Sans", serif;
  font-weight: 300;
  font-size: 1.5rem;
  border: none;
  align-self: flex-start;
}

.add-to-cart {
  width: 40%;
  margin-top: 40px;
  /* möjligtvis ta bort cursor när länken funkar*/
  cursor: pointer;
}

/* ----- PERSONA ----- */

/* ----- FAQ ----- */

/* ----- ABOUT ----- */

/* ----- CART ----- */

#continue-shopping-button {
  font-family: "Vina Sans", serif;
  font-weight: 300;
  font-size: 1.5rem;
  color: black;
}
