/* ---- FOR ENTIRE WEBSITE ---- */
/* header for all pages */
#pages-header {
  font-family: "Vina Sans", serif;
  font-weight: 350;
  font-size: 5rem;
}

main {
  text-align: center;
}

/* ----- MAIN ----- */

#welcome-header {
  font-family: "Vina Sans", serif;
  margin-top: 15%;
  font-weight: 350;
  font-size: 5rem;
}

/* start z-index, learned from w3schools https://www.w3schools.com/css/css_z-index.asp*/
#welcome-image {
  width: 70%;
  margin-top: 10%;
  margin-bottom: 5%;
}

/* End Help w3Schools*/

.homepage-image {
  width: 20%;
  margin: 0.5%;
}

.homepage-images {
  display: flex;
  flex-direction: row;
  overflow: auto;
}

#browse-all-button {
  width: 200px;
  height: 70px;
  margin-top: 2%;

  /* button looks*/
  background-color: black;
  border: none;

  /* Text*/
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 1rem;
}

.homepage-links-containter {
  display: flex;
  flex-direction: row;
}

.hompage-links-a-tag {
  margin-top: 5%;
  align-items: center;
}

.homepage-links-images {
  width: 90%;
}

/* ----- PRODUCTS ----- */

/* ---- PRODUCT 1 ---- */
.product-1-page-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  margin-top: 10%;
  margin-left: 2%;
  margin-right: 2%;
}

/* Help Eveline and Eveline video on JS changing pictures*/
.product-img-container {
  width: 90%;
}

.product-images {
  background-image: url(../images/party-princess.jpg);
  background-size: cover;
  width: 100%;
  height: 700px;
}
/* End Eveline and Eveline video on JS changing pictures*/

.product-title {
  font-family: "Vina Sans", serif;
  font-weight: 300;
  font-size: 3rem;
  margin-bottom: 2%;
}

.product-pricing {
  font-family: "Vina Sans", serif;
  font-weight: 300;
  font-size: 2rem;
  margin-top: 2%;
}

.product-description {
  width: 80%;
  align-content: center;
}

/*Specifications buttons*/
.buttons {
  display: flex;
  flex-direction: column;
}

/* Start Help taken/dropdown funciton learned from w3shools https://www.w3schools.com/css/css_dropdowns.asp*/
.product-contents {
  font-family: "Vina Sans", serif;
  font-weight: 300;
  font-size: 1.5rem;
  border: none;
  align-self: flex-start;
}

.dropdown-product-contents {
  display: none;
  font-family: "Times New Roman", Times, serif;
}

.dropdown-product-contents-show {
  display: block;
  text-align: start;
}

.product-specifications {
  font-family: "Vina Sans", serif;
  font-weight: 300;
  font-size: 1.5rem;
  border: none;
  align-self: flex-start;
}

.dropdown-product-specifications {
  display: none;
  font-family: "Times New Roman", Times, serif;
}

.dropdown-product-specifications-show {
  display: block;
  text-align: start;
}

.product-reviews {
  font-family: "Vina Sans", serif;
  font-weight: 300;
  font-size: 1.5rem;
  border: none;
  align-self: flex-start;
}

.dropdown-product-reviews {
  display: none;
  font-family: "Times New Roman", Times, serif;
}

.dropdown-product-reviews-show {
  display: block;
  text-align: start;
}

.product-images-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 1%;
}
.next-img-button-img {
  width: 100px;
}

.previous-img {
  border: none;
}

.next-img {
  border: none;
}

.add-to-cart {
  width: 40%;
  margin-top: 40px;
  /* möjligtvis ta bort cursor när länken funkar*/
  cursor: pointer;
}

/* shopping cart tab
(will move in the future, maybe to recurring designs?) */
.cartTab {
  width: 400px;
  background-color: red;
  color: white;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  inset: 0 -400px 0 auto; /* makes the shopping cart invisible (off the screen to the right) */
  display: grid;
  grid-template-rows: 70px 1fr 70px;
}

.showCart {
  inset: 0 0 0 auto; /* makes the shopping cart visible */
}

.cartTab * {
  background-color: transparent;
}

.cartTab-title {
  font-family: "Vina Sans", serif;
  font-weight: 300;
  font-size: 3rem;
  padding-left: 20px;
  margin-top: 55px;
}

.cartTab-buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.cart_button {
  font-family: "Vina Sans", serif;
  font-weight: 300;
  font-size: 1.5rem;
  background-color: blue;
  border: none;
}

.close_carttab {
  background-color: blueviolet;
  cursor: pointer;
}

/*
.checkout_carttab {
  background-color: blue;
}*/

.cart-item {
  display: grid;
  grid-template-columns: 70px 150px 50px 1fr;
  gap: 10px;
  text-align: center;
  align-items: center; /* nödvändig? */
  margin-top: 50px;
}

.cart-item-image {
  width: 100%;
  margin-left: 0px;
}

/* .cart-item-quantity {
  display: flex;
  align-items: center;
  gap: 5px;
} */

/* the whole quantity of the products chosen */
.cart-item-quantity span {
  display: inline-block;
  width: 15px;
  height: 20px;
  background-color: white;
  border-radius: 20%;
  cursor: pointer; /* might remove later */
}

/* the actual number on the quantity */
.quantity_number {
  background-color: transparent;
  color: white;
}

/* the background will be gray for every other item added */
/* .listCart .cart_item:nth-child(even) {
  background-color: gray;
} */

/* generate scroll bar if to many items are added to fit the screen */
.listCart {
  overflow: auto;
}


@media screen and (max-width: 900px) {
}

@media screen and (max-width: 690px) {
}

@media screen and (max-width: 460px) {
  #welcome-image {
    margin-top: 20%;
    width: 95%;
  }
  .homepage-image {
    width: 60%;
  }
  #browse-all-button {
    width: 130px;
    height: 40px;
    font-size: 0.6rem;
  }
  .homepage-links-containter {
    display: flex;
    flex-direction: column;
  }

  .homepage-links-images {
    width: 90%;
  }
}
