#pages-header {
  font-family: "Vina Sans", serif;
  font-weight: 350;
  font-size: 5rem;
  margin-top: 100px;
  margin-left: 5%;
}

#page-description {
  margin-left: 5%;
}

/* main {
  text-align: center;
} */

/*start - For all personas*/

.persona-1 {
  display: flex;
  flex-direction: row;
  margin: 3%;
}

.persona-2 {
  display: flex;
  flex-direction: row-reverse;
  margin: 3%;
}

.persona-image {
  width: 30%;
}

/*end - For all personas*/

/*start-left aligned personas*/
.persona1-information {
  margin-left: 3%;
}

.persona1-header {
  font-family: "Vina Sans", serif;
  font-size: 3rem;
  text-align: start;
}

.persona1-description {
  text-align: start;
}

.persona1-button {
  align-self: flex-start;
  width: 200px;
  height: 70px;
  margin-top: 2%;

  /* button looks*/
  background-color: black;
  border: none;

  /* Text*/
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 1rem;
}
/*end-left aligned personas*/

/*start-right aligned personas*/
.persona2-information {
  margin-right: 5%;
  align-items: flex-end;
}

.persona2-header {
  font-family: "Vina Sans", serif;
  font-size: 3rem;
  text-align: end;
}

.persona2-description {
  text-align: end;
}

.persona2-button {
  width: 200px;
  height: 70px;
  margin-top: 2%;

  /* button looks*/
  background-color: black;
  border: none;

  /* Text*/
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 1rem;
}

@media screen and (max-width: 900px) {
}

@media screen and (max-width: 690px) {
}

@media screen and (max-width: 460px) {
  .persona-image {
    width: 70%;
  }

  /*Persona 1 start*/
  .persona-1 {
    flex-direction: column;
    align-items: center;
  }

  .persona1-header {
    text-align: center;
  }
  .persona1-information {
    text-align: center;
  }

  /*Persona 1 end*/

  /*Persona 2 start*/
  .persona-2 {
    flex-direction: column;
    align-items: center;
  }
  .persona2-header {
    text-align: center;
  }
  .persona2-information {
    align-items: center;
  }

  /*Persona 2 end*/
}
