/*"FIND OUT WHICH KIT..." TITLE */
#page-description {
  font-family: "Vina Sans", serif;
  font-weight: 400;
  font-style: normal;
  margin-top: 5%;
}

/* ALL PERSONAS */
.persona-1 {
  display: flex;
  flex-direction: row;
  margin: 3%;
}

.persona-2 {
  display: flex;
  flex-direction: row-reverse;
  margin: 3%;
}

/* ALL PERSONA IMAGES */
.persona-image {
  width: 20%;
  height: 30%;
}

/* ALL THE "GO TO PRODUCT" BUTTONS */
.go-to-product-button {
  width: 40%;
}

/* ALL LEFT ALIGNED PERSONAS */
/* all information */
.persona1-information {
  margin-left: 3%;
}

/* header */
.persona1-header {
  font-family: "Vina Sans", serif;
  font-size: 3rem;
  text-align: start;
}

/* description */
.persona1-description {
  text-align: start;
  padding-right: 20%;
}

/* "go to product" button */
.persona-button {
  align-self: flex-start;
  width: 200px;
  height: 70px;
  margin-top: 2%;
  cursor: pointer;
}

/* ALL RIGHT ALIGNED PERSONAS */
/* all information */
.persona2-information {
  margin-right: 5%;
  align-items: flex-end;
}

/* header */
.persona2-header {
  font-family: "Vina Sans", serif;
  font-size: 3rem;
  text-align: end;
}

/* description */
.persona2-description {
  text-align: end;
  padding-left: 20%;
}

/* "go to product" button */
.persona2-button {
  width: 200px;
  height: 70px;
  margin-top: 2%;
  cursor: pointer;
}

/* RESPONSIVE LAYOUT */
@media screen and (max-width: 900px) {
  .persona-image {
    width: 40%;
  }
}

@media screen and (max-width: 700px) {
  .go-to-product-button {
    width: 55%;
  }
  /*Persona 1 start*/
  .persona-image {
    width: 60%;
  }

  /*Persona 1 start */
  .persona1-description {
    padding-right: 5%;
  }
  .persona-1 {
    flex-direction: column;
    align-items: center;
  }
  .persona1-header {
    text-align: center;
  }
  .persona1-information {
    text-align: center;
  }

  .persona1-description {
    padding-left: 5%;
  }
  /*Persona 1 end*/

  /*Persona 2 start*/
  .persona2-description {
    padding-right: 5%;
  }
  .persona-2 {
    flex-direction: column;
    align-items: center;
  }
  .persona2-header {
    text-align: center;
  }
  .persona2-information {
    text-align: center;
  }

  .persona2-description {
    padding-left: 5%;
  }
}

@media screen and (max-width: 460px) {
  .persona-image {
    width: 70%;
  }
  .go-to-product-button {
    width: 70%;
  }
  /*Persona 1 start */
  .persona-1 {
    flex-direction: column;
    align-items: center;
  }
  .persona1-header {
    text-align: center;
  }
  .persona1-information {
    text-align: center;
  }

  .persona1-description {
    padding-right: 5%;
  }
  /*Persona 1 end*/

  /*Persona 2 start*/
  .persona2-description {
    padding-right: 5%;
  }
  .persona-2 {
    flex-direction: column;
    align-items: center;
  }
  .persona2-header {
    text-align: center;
  }
  .persona2-information {
    text-align: center;
  }
  /*Persona 2 end*/
}
