#pages-header {
  font-family: "Vina Sans", serif;
  font-weight: 350;
  font-size: 5rem;
  text-align: start;
  margin-left: 5%;
  margin-top: 100px;
}

/* main {
  text-align: center;
} */

.filter {
  /* button specifics*/
  margin-left: 5%;
  width: 200px;
  height: 70px;
  cursor: pointer;

  /* button looks*/
  background-color: black;
  border: none;

  /* Text*/
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 1rem;
}

.dropdown-filters {
  display: none;
  margin-left: 5%;
}

.dropdown-filters-show {
  font-family: Arial, Helvetica, sans-serif;
  display: block;
  text-align: start;
}

/* Common for all products START*/

.product-img {
  width: 100%;
}

.product-caption-heading {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 1.5rem;
  background: none;
  margin-bottom: 0;
}

.product-caption-price {
  margin-top: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 1rem;
  background: none;
}

.products {
  display: grid;
  grid-template-columns: repeat(4, 3fr);
  justify-items: center;
  margin-left: 2%;
  margin-right: 2%;
}
/* Common for all products END*/

/* Individual for each product START */

.product-1 {
  margin-top: 10%;
  width: 95%;
}

/* Individual for each product END*/

.add-to-cart-button {
  width: 200px;
  height: 50px;

  /* button looks*/
  background-color: black;
  border: none;

  /* Text*/
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 1rem;
}

/* Responsiveness - start */

@media screen and (max-width: 900px) {
  .products {
    grid-template-columns: repeat(3, 4fr);
  }
  #pages-header {
    font-size: 4rem;
  }
  .product-caption-heading {
    font-size: 1.5rem;
  }
  .filter {
    width: 170px;
    height: 60px;
  }
}

@media screen and (max-width: 690px) {
  .products {
    grid-template-columns: repeat(2, 5fr);
  }
  #pages-header {
    font-size: 3rem;
  }
  .product-caption-heading {
    font-size: 1rem;
  }
  .product-caption-price {
    font-size: 0.5rem;
  }
  .filter {
    width: 150px;
    height: 50px;
  }
}

@media screen and (max-width: 460px) {
  .products {
    grid-template-columns: repeat(1, 10fr);
  }
  #pages-header {
    font-size: 2rem;
  }
  .filter {
    width: 130px;
    height: 40px;
    font-size: 0.6rem;
  }
}

/* Responsiveness - end */
