/* ----- GLOBAL STYLES ----- */
* {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

/* ---- FONTS INFO ---- */

/* VINA SANS
 font-family: "Vina Sans", serif;
  font-weight: 400;
  font-style: normal;
*/

/* NEWSREADER
font-family: "Newsreader", serif;
  font-optical-sizing: auto;
  font-weight: <weight>; Use a value from 200 to 800
  font-style: normal;
*/

/* ----- HEADER ----- */

/* the logotype */

#logotype {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#logo {
  width: 20%;
}

/* the whole navigation menu list */
ul {
  display: flex;
  list-style: none;
  padding-left: 0px;
  justify-content: center;
  gap: 2rem;
  font-family: Arial, Helvetica, sans-serif;
}

/* the individual menu items */
li {
  margin-left: 0rem;
}

/* the links inside the navigation menu */
a {
  color: rgb(210, 199, 255);
}
