/* ----- GLOBAL STYLES ----- */
* {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

body {
  margin: 0;
}

main {
  text-align: center;
}

/* header for all pages */
#pages-header {
  font-family: "Vina Sans", serif;
  font-weight: 350;
  font-size: 5rem;
  text-align: start;
  margin-left: 5%;
  margin-top: 15%;
  margin-bottom: 20px;
}

/* ----- FONTS INFO ----- */

/* VINA SANS
 font-family: "Vina Sans", serif;
  font-weight: 400;
  font-style: normal;
*/

/* NEWSREADER
font-family: "Newsreader", serif;
  font-optical-sizing: auto;
  font-weight: <weight>; Use a value from 200 to 800
  font-style: normal;
*/

/* ----- HEADER ----- */

/* the whole navigation menu list */
/* Help Mira and w3schools for moving menu bar*/
.header-ul {
  display: flex;
  list-style: none;
  position: fixed;
  top: 0%;

  align-items: center;
  justify-content: center;
  margin: 0%;
  margin-left: 0%;

  gap: 0.7rem;
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;

  height: 15%;
  z-index: 2; /* Learned of z-index w3schools*/
}

li {
  text-align: center;
  margin-top: 2%;
}

#menu-items {
  width: 15%;
}

/* the logotype */

#logo_icon {
  display: flex;
  align-items: center;
  width: 80%;
  margin-right: 70px;
}

/* the individual menu items */

/* the links inside the navigation menu */
a {
  color: rgb(210, 199, 255);
}

/* cart icon */
#cart_icon {
  width: 30px;
  cursor: pointer;
  padding-left: 5%;
}

#cart_link {
  display: flex;
  align-items: center;
}

/* ----- FOOTER ----- */
footer {
  background-color: rgb(0, 0, 0);
  padding-left: 40px;
}

/* removing the white background from the elements*/
footer * {
  background-color: transparent;
}

/* the logotype */
#logotype_footer {
  display: flex;
  margin-left: 0;
  padding-top: 30px;
}

#logo_footer {
  width: 40%;
}

/* follow us */
.follow_us {
  font-family: "Vina Sans", serif;
  font-weight: 400;
  font-style: normal;
  color: rgb(255, 255, 255);
  margin-bottom: 5px;
}

/* footer text */
footer p {
  font-family: "Newsreader", serif;
  font-optical-sizing: auto;
  font-weight: 400; /* Adjust weight as needed */
  font-style: normal;
  color: rgb(255, 255, 255);
}

/* all the social items container */
.footer_socials {
  display: flex;
  flex-direction: column;
}

/* row of social icon and its matching text */
.social_item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

/* social icon image */
.social_icon {
  width: 25px;
  height: 25px;
}

.footer_copyright {
  text-align: right;
  padding-right: 40px;
  padding-bottom: 10px;
}

/* Responsiveness - start */

@media screen and (max-width: 900px) {
  .header-ul {
    font-size: 0.7rem;
    overflow: none;
    align-items: left;
  }
  #pages-header {
    text-align: center;
    margin-top: 20%;
  }
}

@media screen and (max-width: 690px) {
  #pages-header {
    text-align: center;
  }
  .header-ul {
    font-size: 0.7rem;
    overflow: none;
    align-items: left;
  }
}

@media screen and (max-width: 460px) {
  #logo-icon {
    width: 100%;
  }

  .header-ul {
    font-size: 0.7rem;
    overflow: none;
    gap: 0rem;
    align-items: left;
  }

  #pages-header {
    text-align: center;
  }
}

/* Responsiveness - end */
